@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #3498db;
    --secondary-color: #8d8e8c;
    --background-color: #ecf0f1;
    --input-background: #fff;
    --text-color: #333;
    --border-radius: 8px;
    --transition-speed: 0.3s;
    --sidebar-width: 200px;
    --sidebar-collapsed-width: 50px;
}

html {
    scroll-behavior: smooth; /* Enables smooth scrolling */
}


body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    overflow-x: hidden;
}


/* Header Styles */
header {
    display: flex;
    justify-content: flex-end;
    align-content: end;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

header h1 {
    letter-spacing: 2px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 2px;
    position: relative;
}

header h1::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #1a202c;
    border-radius: 15px;
    position: absolute;
    left: 0;
    bottom: -5px;
}

header p {
    font-size: 0.8rem;
    margin: 5px;
    margin-right: 10px;
    padding: 0;
}

/* Sidebar Styles */
.sidebar {
    width: var(--sidebar-width);
    height: 100%;
    background: linear-gradient(to top left, #5852504e, #452a1ce2);
    overflow-x: hidden;
    z-index: 1000;
    position: fixed;
    padding: 0;
    transition: width var(--transition-speed) ease;
}

.sidebar.collapsed { 
    width: var(--sidebar-collapsed-width);
    transition: width var(--transition-speed) ease;
}




.sidebar li a i {
    min-width: 60px;
}


.sidebar-title{
    color: #f0f2f5;
}



.toggle-btn {
    left: 0px;
    top: 10px;
    z-index: 1000;
}


.sidebar.collapsed .sidebar-title,
.sidebar.collapsed li a span,
.sidebar.collapsed .submenu-icon {
    display: none;
}

.sidebar.collapsed .sidebar-title {
    opacity: 0;
    width: 0;
    margin-left: 0;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    padding: 30px 5px;
}

.sidebar-title {
    margin-top: 5px;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 10px;
    justify-content: flex-end;
    opacity: 1;
    /* white-space: nowrap; */
}

.toggle-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav {
    justify-content: space-between;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: block;
    padding: 0.2rem 0rem;
    align-content: center;
}

.sidebar nav ul li a {
    display: flex;
    margin: 0;
    margin-top: 0px;
    margin-left: 0;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 10px;
    box-sizing: content-box;
    width: 150px;  
    border-radius: 8px;
    transition: background-color 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    background-color: rgba(255, 255, 255, 0); /* Initial transparent background */
}

nav ul li a:hover {
    background-color: rgba(44, 62, 80, 0.8); /* Background transitions to higher opacity */
    transform: scale(1.05); /* Slight scaling for smoother effect */
    opacity: 1; /* Ensures full opacity on hover */
    border-radius: 10px;
}

nav ul li a span {
    margin-left: 1rem;
}


.submenu {
    max-height: 0;
    margin-left: 15px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.submenu.open {
    max-height: 200px;
}

.submenu li {
    padding-left: 2rem;
}

.submenu-icon {
    margin-left: auto;
    transition: transform 0.3s ease; 
}

.open > a > .submenu-icon {
    transform: rotate(180deg);
}




/* Main Content Styles */
main {
    flex-grow: 1;
    margin: 0;
    padding: 0px;
    transition: margin-left var(--transition-speed) cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: var(--sidebar-width);
}

.sidebar.collapsed + main {
    margin-left: var(--sidebar-collapsed-width);
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.container, .container2 {
    background-color: var(--input-background);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(68, 67, 67, 0.432);
    transition: transform var(--transition-speed);
    margin-bottom: 20px;
    padding: 40px;
}

.container {
    flex: 1;
    min-width: 300px;
    max-width: 800px;
    margin-right: 20px;
}

.container2 {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
}

/* Form Styles */
.input-section {
    display: flex;
    justify-content: space-between;
    background-color: var(--input-background);
    padding: 1.5rem;
    border-radius: var(--border-radius);
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hover-message {
    display: flex;
    position: absolute;
    color: #ffffff;
    width: 0px;
    overflow: hidden;
    margin-top: 5px;
    font-size: 0.1rem;
    background-color: #2484c4;
    padding: 0px;
    border-radius: var(--border-radius);
    letter-spacing: 1px;
    margin-left: 300px;
    transition: all 0.3s ease;
}

input:hover + .hover-message {
    display: flex;
    font-size: 1rem;
    width: 120px;
    padding: 10px;
    margin-left: 300px;
}

.input-group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    width: 120px;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

input[type="number"] {
    width: 150px;
    padding: 0.5rem;
    border: 2px solid #ddd;
    border-radius: var(--border-radius);
    transition: border-color var(--transition-speed), box-shadow var(--transition-speed);
}

input[type="number"]:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.2);
    outline: none;
}

.elisa-buttons button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.75rem 1rem;
    margin: 2px;
    margin: 1rem 0;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
    font-weight: 800;
}


 .elisa-buttons button:hover {
    background-color: #2980b9;
    transform: scale(1.1);
}


 .elisa-buttons button:active {
    transform: translateY(0);
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 2rem;
    background-color: var(--input-background);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    overflow: hidden;
}

th, td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
    word-spacing: 5px;
}

tr:last-child td {
    border-bottom: none;
}

tr:nth-child(even) {
    background-color: #f8f9fa;
}

.bold-red {
    color: #e74c3c;
    font-weight: bold;
    animation: pulse 0.5s ease-out;
}



/* excell  */

.container3{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    margin: 20px;
}

.cap-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card h2 {
    margin-top: 0;
    color: #2c3e50;
}

.content-section, .excel-item {
    margin: 10px;
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-section h2 {
    color: #2c3e50;
}

.content-section ul {
    padding-left: 1.5rem;
}

.excel-container{
    display: flex;
    flex-wrap: wrap ;
    justify-content: flex-start;
}
.excel-container .excel-item{


    margin: 10px;
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.ex-card ul li a{
    text-decoration: none;
    color: #1f1f1d; /* White text */
    margin: 5px;
    transition: box-shadow 0.3s ease; /* Smooth transition */
    padding: 1px 1px;
    border-radius: 8px;
}  

.ex-card ul li a:hover {
    color: #35742d; /* White text */
}

.excel-container a{
    text-decoration: none;
    color: rgb(61, 89, 85);
    margin: 4px;
    display: flex;

    justify-content: space-between;
}
.excel-container {
      display: flex;
      flex-wrap: wrap;
    justify-content: space-evenly;

}

.ex-card {
    align-items: center;
    margin: 10px;
    background-color: white;
    border-radius: 8px;
    padding: 1.5rem;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}




/* Footer Styles */
footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: var(--secondary-color);
    color: white;
    /* border-radius: var(--border-radius); */
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

/* Responsive design */
@media (max-width: 1200px) {
    .parent {
        flex-direction: column;
    }

    .container, .container2 {
        max-width: 100%;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        z-index: 1;
        height: 100%;
    }

    .sidebar.collapsed {
        width: 10%;
    }

    main {
        margin-left: var(--sidebar-collapsed-width);
    }

    .container, .container2 {
        width: 100%;
        margin: 10px 0;
    }

    header h1 {
        font-size: 1rem;
    }

    header p {
        font-size: 0.6rem;
    }

    .hover-message {
        margin-left: 150px;
    }

    input:hover + .hover-message {
        font-size: 0.8rem;
        width: 100px;
        padding: 10px;
        margin-left: 160px;
    }
}

@media (max-width: 600px) {
    .container, .container2 {
        padding: 1rem;
    }

    input[type="number"] {
        width: 60%;
    }

    table {
        font-size: 0.9rem;
    }

    th, td {
        padding: 0.75rem;
    }
}
