@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #3498db;
    --secondary-color: #8d8e8c;
    --background-color: #f5f7fa;
    --input-background: #fff;
    --text-color: #333;
    --border-radius: 8px;
    --transition-speed: 0.3s;
    --sidebar-width: 220px;
    --sidebar-collapsed-width: 50px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-color var(--transition-speed);
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 35px;
    background-color: #ffffff;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

header a {
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color);
    transition: color var(--transition-speed);
}

.logo img {
    max-width: 100%;
    height: auto;
    display: block;
    width: 30px;
    border-radius: var(--border-radius);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo:hover img {
    transform: scale(1.1);
}

.thyrocare-logo img {
    width: 120px;
}


.black-logo {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    line-height: 1;
}


.black-logo img{
    max-width: 100%;  /* Ensure the image doesn't overflow */
    height: auto;
    display: block;  /* Remove extra space below the image */
    margin: 0;
    padding: 0;
    width: 30px;
    border-radius: var(--border-radius);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.whitelogo img{
    display: inline-block;
    margin: 3px;
    width: 25px;
    height: auto;
    border-radius: var(--border-radius);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.sidebar-title img:hover{
    transform: scale(1.1); /* Scale effect */
    border-radius: var(--border-radius);
}

.cap {
    position: absolute;
    margin-left: 11em;
    z-index: 1000;
}

.cap img {
    width: 70px;
}

/* Sidebar Styles */
.sidebar {
    width: var(--sidebar-width);
    height: 100%;
    background: linear-gradient(to top left, #babebe97, #000000);
    overflow-x: hidden;
    z-index: 1000;
    position: fixed;
    padding: 0;
    transition: width var(--transition-speed) ease;
}

.sidebar.collapsed {
    width: var(--sidebar-collapsed-width);
}

.no-transition {
    transition: none !important;
}


.sidebar li a i {
    min-width: 60px;
}

.sidebar.collapsed .sidebar-title,
.sidebar.collapsed li a span,
.sidebar.collapsed .submenu-icon {
    display: none;
}

.sidebar-header {
    display: flex;
    justify-content: flex-start;
    padding: 25px 5px;
}




.sidebar-title {
    font-size: 0.875rem;
    margin-top: 5px;
    margin-left: 15px;
    font-weight: bold;
    box-sizing: content-box;
    color: #f0f2f5;
    letter-spacing: 7px;
    border-radius: var(--border-radius);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sidebar-title:hover {  
    margin-left: 15px;
    transform: scale(1.1);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.toggle-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 300;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
}

.toggle-btn:hover {
    transform: scale(1.3);
}

.toggle-btn:active {
    transform: translateY(0);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 0.2rem 0;
}

.sidebar nav ul li a {
    display: flex;
    color: rgb(241, 240, 229);
    font-size: 0.875rem;
    text-decoration: none;
    padding: 5px 10px;
    width: 150px;
    border-radius: 8px;
    transition: background-color 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(44, 62, 80, 0.8);
    transform: scale(1.05);
    opacity: 1;
}

nav ul li a span {
    margin-left: 1rem;
}

nav ul li.active a {
    background-color: #07386c6c; /* Change to your desired color */
    color: white; /* Change text color if needed */
    transition: background-color 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

nav ul li.active a:active {
    background-color: #0056b3; /* Darker shade when clicked */
    color: white; /* Change text color if needed */
    transform: scale(0.95); /* Slightly scale down on click */
}
.submenu {
    max-height: 0;
    margin-left: 15px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}


.has-submenu.open .submenu {
    overflow: hidden;
}

/* .no-transition {
    transition: none !important;
} */

.submenu.open {
    max-height: 200px;
}

.submenu li {
    padding-left: 3rem;
    position: relative;
}

.submenu-icon {
    margin-left: auto;
    width: 15px;
    transition: transform 0.3s ease;
}

.open > a > .submenu-icon {
    transform: rotate(180deg);
}


/* Only apply transition when not in initial load */
.sidebar:not(.no-transition) .submenu {
    transition: max-height 0.3s ease-out;
}

.has-submenu.open .submenu {
    overflow: hidden;
}

/* .no-transition {
    transition: none !important;
} */

/* Main Content Styles */
main {
    flex-grow: 1;
    margin-left: var(--sidebar-width);
    padding: 0;
    transition: margin-left var(--transition-speed) cubic-bezier(0.4, 0, 0.2, 1), opacity 0.6s ease-in-out;
    opacity: 0; /* Initially hidden */
    transition: transform 0.3s ease;

}


.sidebar.collapsed + main {
    margin-left: var(--sidebar-collapsed-width);
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.parent h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.container {
    background-color: var(--input-background);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(68, 67, 67, 0.432);
    transition: transform var(--transition-speed);
    margin-bottom: 20px;
    padding: 40px;
    font-size: 0.8rem;
}

.container {
    flex: 1;
    min-width: 300px;
    max-width: 800px;
    height: 1800px;
    margin-right: 20px;
}

.container2 {
    flex: 1;
    height: 1800px;
    min-width: 300px;
    max-width: 600px;
    overflow-y: scroll;
    transition: transform var(--transition-speed);
    margin-bottom: 20px;
    padding: 40px;
    font-size: 0.8rem;
    

}

/* Form Styles */
.input-section {
    display: flex;
    justify-content: space-between;
    background-color: var(--input-background);
    padding: 1.5rem;
    border-radius: var(--border-radius);
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hover-message {
    position: absolute;
    color: #ffffff;
    width: 0;
    height: 0;
    overflow: hidden;
    margin-top: 5px;
    font-size: 0rem;
    background-color: #2484c4;
    padding: 0;
    border-radius: var(--border-radius);
    letter-spacing: 1px;
    margin-left: 300px;
    transition: all 0.3s ease;
}

input:hover + .hover-message {
    font-size: 1rem;
    width: 120px;
    height: auto;
    padding: 10px;
    margin-left: 300px;
}

.input-group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    width: 120px;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

input[type="number"] {
    width: 150px;
    padding: 0.5rem;
    border: 2px solid #ddd;
    border-radius: var(--border-radius);
    transition: border-color var(--transition-speed), box-shadow var(--transition-speed);
}

input[type="number"]:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.2);
    outline: none;
}

.elisa-buttons button {
    background-color: var(--primary-color);
    color: white;
    width: 50px;
    align-items: center;
    text-align: center;
    height: 30px;
    border: none;
    /* padding: 0.75rem 1rem; */
    margin: 1rem 2px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 0.6rem;
    font-weight: 800;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
}

.elisa-buttons button:hover {
    background-color: #2980b9;
    transform: scale(1.1);
}


/* Dropdown styles */
#patientCount {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

/* Hover and focus styles */
#patientCount:hover {
    border-color: #888; /* Change border color on hover */
}

#patientCount:focus {
    outline: none;
    border-color: #007bff; /* Change border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add shadow on focus */
}

/* Adjust the table header to align with the dropdown */
th {
    position: relative; /* Positioning context for dropdown */
    padding: 8px; /* Padding for header */
}

/* Dropdown arrow styles */
#patientCount::-ms-expand {
    display: none; /* Hide default arrow in IE */
}

/* Style for select options */
#patientCount option {
    padding: 10px; /* Padding for options */
    font-size: 14px; /* Font size for options */
}


/* Table Styles */
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 2rem;
    background-color: var(--input-background);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    overflow: hidden;
}

th, td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
    word-spacing: 5px;
}

tr:last-child td {
    border-bottom: none;
}

tr:nth-child(even) {
    background-color: #f8f9fa;
}

.bold-red {
    color: #e74c3c;
    font-weight: bold;
    animation: pulse 0.5s ease-out;
}

/* Excel Styles */
.container3, .cap-container, .excel-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px;
}

.content-section, .excel-item, .ex-card {
    margin: 10px;
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-section h2, .card h2 {
    margin-top: 0;
    color: #2c3e50;
}

.content-section ul {
    padding-left: 1.5rem;
}

.ex-card {
    width: 250px;
    padding: 1.5rem;
}

.ex-card ul li a, .excel-container a {
    text-decoration: none;
    color: #1f1f1d;
    margin: 5px;
    transition: color 0.3s ease;
    padding: 1px;
    border-radius: 8px;
}

.ex-card ul li a:hover {
    color: #35742d;
}

.excel-container a {
    color: rgb(61, 89, 85);
    margin: 4px;
    display: flex;
    justify-content: space-between;
}

/* Footer Styles */
footer {
    margin-top: 50px;
    width: 100%;
    padding: 40px;
    text-align: center;
    color: rgb(68, 67, 67);
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

/* Responsive design */
@media (max-width: 1200px) {
    .parent {
        flex-direction: column;
    }
    .container, .container2 {
        max-width: 100%;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        z-index: 1;
        height: 100%;
    }
    .sidebar.collapsed {
        width: 10%;
    }
    main {
        margin-left: var(--sidebar-collapsed-width);
    }
    .container, .container2 {
        width: 100%;
        margin: 10px 0;
    }
    header h1 {
        font-size: 1rem;
    }
    header p {
        font-size: 0.75rem;
    }
    .hover-message {
        margin-left: 150px;
    }
    input:hover + .hover-message {
        font-size: 0.875rem;
        width: 100px;
        padding: 10px;
        margin-left: 160px;
    }
}

@media (max-width: 600px) {
    .container, .container2 {
        padding: 1rem;
    }
    input[type="number"] {
        width: 60%;
    }
    table {
        font-size: 0.875rem;
    }
    th, td {
        padding: 0.75rem;
    }
    .thyrocare-logo img {
        width: 100px;
    }
    .cap img {
        width: 50px;
    }
    .whitelogo img, .black-logo img {
        width: 25px;
    }
    .cap {
        margin-left: 7em;
    }
    .sidebar-title{
        display: none;


    }
}
